* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/****HEADER/PARALAX***/

.intro-name h1 {
  font-size: 60px;

}

.intro-line-2 h3 {
  font-size: 35px;

}

.chair {
  height: 700px;
  position: absolute;
  top: 90%;
  right: 10%;
  transform: translate(-10%, -90%);
}

.big-rose {
  position: absolute;
  height: 200px;
  top: 10%;
  right: 40%;
}

.small-rose {
  height: 100px;
  position: absolute;
  top: 30%;
  right: 10%;
}

/*******SECTION BACKGROUND COLORS*********/
#section-one {
  background-color: white;

}

header {
  background-color: rgb(29, 29, 36);
}

#social-section {
  background-image: url("http://taylorkmho.com/assets/images/bg-vignette.jpg");
}

/***********SECTION ONE***/
#section-one {
  min-height: 40vh;
  margin-top: 0px;
  display: flex;
  font-family: 'Roboto Condensed', sans-serif;
}

#section-one h2 {
  font-size: 20px;
  margin-left: 100px;
  width: 70%;
  line-height: 56px;
  color: rgb(29, 29, 36);
  margin-top: 30px;
}

h3 {
  justify-content: center;
  justify-items: center;
  align-items: center;
  display: flex;
}

#community-service h3 {
  color: rgb(29, 29, 36);
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 30px;
}

#projects h3 {
  color: rgb(29, 29, 36);
  padding: 10px;
  margin-top: 10px;
  font-size: 30px;
}

/**font-size: 25px;
  margin-left: 10px;
  width: 50%;
  line-height: 40px;
}**/
/*******************SOCIAL SECTION**************/
#social-section {
  min-height: 50vh;
  color: rgb(39, 63, 87);
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 50px;
  font-family: 'Roboto Condensed', sans-serif;

}

#social-section h2 {
  width: 50%;
  font-size: 30px;
  line-height: 50px;
}

#social-section h3 {
  font-size: 60px;
}

/**************SOCIAL SECTION EXPIENCE*******/
#social-section-about {
  min-height: 100vh;
  color: black;
  font-size: 50px;
  font-family: 'Roboto Condensed', sans-serif;

}

#section-one-about {
  min-height: 60vh;
  color: rgb(77, 145, 161);
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: rgb(29, 29, 36);
  padding: 40px;
  font-family: 'Roboto Condensed', sans-serif;
}



#section-two-about {
  color: rgb(29, 29, 36);
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: white;
  width: 70%;
  font-family: 'Roboto Condensed', sans-serif;
}

#section-two-about p {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 40px;
  line-height: 60px;
  padding: 30px;
  justify-content: center;
  margin-right: 40px;
  font-size: 20px;
}

#section-one-about img {
  padding: 5px;
}

/************SKILLS EXPERIENCE SECTION**********/
#skills {
  min-height: 100vh;
  color: rgb(77, 145, 161);
  font-size: 20px;
  font-family: 'Roboto Condensed', sans-serif;
  background-color: rgb(29, 29, 36);

}

.design,
.tools {
  box-sizing: border-box;
  padding: 20px;
  text-decoration: none;
}

#skills h2 {
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 5px;
  margin-bottom: 5px;
}

.about-li {
  float: right;
  width: 50%;
  box-sizing: border-box;

  padding: 5px;
  list-style-type: none;
}

.skills-category {
  float: left;
}

.about-li {
  display: inline;
}

#links-section-about {
  min-height: 100vh;
  color: rgb(226, 226, 226);
  justify-content: center;
  font-size: 40px;
  font-family: 'Roboto Condensed', sans-serif;
  background-image: url("http://taylorkmho.com/assets/images/bg-vignette.jpg");
  display: flex;
  flex-direction: column;
}

#links-section h2 {
  justify-content: center;
  align-items: center;
  display: flex;
}

/*PHOTOS*/
.skills-img-grid-row {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: center;
}

.skills-imgs {
  padding: 20px;
}

/*********COMMUNITY SERVICE SECTION*******/
#community-service {
  min-height: 100vh;
  font-size: 20px;
  font-family: sans-serif;
  background-color: white;
  line-height: 40px;
  padding: 10px;

}


#community-service a {
  color: rgb(29, 29, 36);

}

#community-service a:hover {
  color: red;
  transition: 2.5s;
  cursor: pointer;
}

#community-service h2 {
  justify-content: center;
  align-items: center;
  display: flex;
  color: rgb(57, 156, 180);
}

.about-me {
  letter-spacing: 2px;
  word-spacing: 6px;
  justify-content: center;
  align-content: center;

}

.volunteer-category,
#community-service p {
  margin-left: 30px;
  color: rgb(29, 29, 36);
  font-family: 'Roboto Condensed', sans-serif;
}

.volunteer-category {
  text-transform: uppercase;
  font-weight: bold;
}

.skills-imgs {
  filter: blue;
}

.vtxt {
  color: rgb(29, 29, 36);
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 15px;
  padding: 10px;
}

/******LINK SECTION*********/
#links-section {
  min-height: 100vh;
  color: #834d4d;
  justify-content: center;
  font-size: 40px;
  font-family: 'Roboto Condensed', sans-serif;
  background-color: rgb(226, 226, 226);
  display: flex;
  flex-direction: column;
}

/*************FOOTER****/
footer {
  background-color: rgb(29, 29, 36);
}

footer p {
  color: white;
  font-family: sans-serif;
  padding: 20px;
  font-size: 12px;
}

/**********BUTTONS**********/
.contact-button,
.btn {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 30px;
  cursor: pointer;
  background-color: Transparent;
  border: none;
  overflow: hidden;

}

.contact-button {
  color: rgb(39, 63, 87);
  text-decoration: none;


}

.contact-button:hover {
  color: white;
  transition: 0.8s;
}

.btn {
  justify-content: center;
  align-content: center;
  padding: 30px;
  transition: all 0.5s;
  color: lightskyblue;
}

.btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn:hover span {
  padding-right: 25px;
}

.btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btn:hover span:after {
  opacity: 1;
  right: 0;
}

/*NAV STUFF*************************************/
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(29, 29, 36);
  min-height: 8vh;
  font-family: 'Roboto Condensed', sans-serif;
}

.intro-text {
  display: none;
}

.intro-text h1,
.intro-text h3 {
  color: rgb(29, 29, 36);
}

/**BURGER BUTTON**/
.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: rgb(226, 226, 226);
  margin: 5px;
  transition: all 0.3s ease;
}

.navlogo {
  display: none;
}

/******MEDIA Q*******/
@media screen and (max-width: 1024px) {
  .nav-links {
    width: 60%;
  }




}

@media screen and (max-width: 760px) {
  body {
    overflow-x: hidden;
  }

  .desktop-intro-name {
    display: none;
  }

  .desktop-logo,
  .desktoplogo {
    display: none;
  }

  #anna-art {
    margin-top: 0px;
    margin-left: 0px;
    justify-content: center;
  }

  .mobile-anna {
    display: block;
  }

  .desktop-intro-2 {
    display: none;
  }

  .mobile-intro-2 {
    display: flex;
  }



  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: rgb(29, 29, 36);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    /**MOVE CONTAINER OFF THE SCREEN**/
    transition: transform 0.5s ease-in;
  }

  .burger {
    display: block;
  }

  .navlogo {
    display: block;
    width: 50%;
    height: auto;
    padding: 10px;
    margin-top: 8px;
    margin-bottom: 3px;
  }

  body {
    background-color: rgb(226, 226, 226);
  }

  .intro-text {
    display: block;
    margin-right: 5px;
    position: absolute;
    padding: 20px;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Condensed', sans-serif;

  }

  .intro-text h1 {
    font-size: 40px;
  }

  .intro-text h3 {
    font-size: 30px;
  }

  #social-section h2 {
    width: 100%;
    font-size: 25px;
    line-height: 50px;
    margin-left: 10px;
  }

  #social-section .contact-button {
    margin-right: 20px;
  }



}

/***NAV ANIMATION**/
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px)
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

/**BURGER ANIMATION*/
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.nav-active {
  transform: translateX(0%);
}


/**NAV STYLES**/
.nav-links {
  display: flex;
  justify-content: space-around;
  width: 30%;
  text-decoration: none;
}

.nav-links li {
  list-style: none;

}

.nav-links a {
  color: rgb(226, 226, 226);
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 15px;
}

/**BORDER**/
#top,
#bottom,
#left,
#right {
  position: fixed;
  z-index: 100;
  background: rgb(29, 29, 36);
}

#left,
#right {
  top: 0;
  bottom: 0;
  width: 20px;
}

#left {
  left: 0;
}

#right {
  right: 0;
}

#top,
#bottom {
  left: 0;
  right: 0;
  height: 20px;
}

#top {
  top: 0;
}

#bottom {
  bottom: 0;
}

@media
/* Fairly small screens including iphones */
only screen and (max-width: 500px),

/* iPads */
only screen and (min-device-width: 768px) and (max-device-width: 1024px) {

  #top,
  #bottom,
  #left,
  #right {
    display: none;
  }


}

/***boxes*/
.boxes {
  margin: 40px;
  -moz-box-shadow: inset 0 0 10px #a06f6f;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0 0 10px;
  z-index: -100;
  display: flex;
  background-color: white;
}

.boxes .content {
  position: relative;
  /* This protects the inner element from being blurred */
  padding: 40px;
  display: flex;
}

.project-descriptions {
  padding: 20px;
  margin-left: 20px;
  color: rgb(29, 29, 36);
  font-size: 16;
}



.event-info {
  color: rgb(29, 29, 36);
}

/**Projects**/
#projects {
  background-color: white;
  margin-left: 20px;
  padding: 10px;

}

#projects a {
  text-decoration: none;
  color: rgb(39, 63, 87);
  font-size: 40px;

}

.project-year {
  color: grey;
}

#projects a:hover {
  color: red;
  transition: 2.5s;
}

/**DESKTOP HEADER***/
.desktop-intro h1,
.desktop-intro h3 {
  display: block;
  font-family: 'Roboto Condensed';
}



.underline {
  border-bottom: 9px double currentColor;
  display: inline-block;
  line-height: 0.85;
  text-shadow:
    2px 2px white,
    2px -2px white,
    -2px 2px white,
    -2px -2px white;
}

#anna-art {
  padding: 10px;
  justify-content: center;
  margin-right: auto;
}


.desktop-logo {
  display: flex;
  width: 60%;
}

.desktoplogo {
  margin-top: 5px;
  font-family: kremlin-pro-expanded, sans-serif;
  font-weight: 500;
  font-style: normal;
  color: rgb(226, 226, 226);
}

.desktop-intro h3 {
  font-size: 40px;
  text-align: center;
  margin-bottom: 30px;
}

.slideInLeft {
  animation-duration: 4s;
  z-index: -1;
}

.desktop-intro h1 {
  text-align: left;
  margin-left: 95px;
  font-size: 60px;
  padding: 10px;

}

.mobile-intro-2 {
  display: none;
}

.desktop-intro {
  display: flex;
  z-index: -1;
}

body {
  background-color: white;
}

.desktop-intro-name {
  padding: 40px;
  background-color: rgb(253, 253, 252);
  z-index: -1;
}

/*EXPERIENCE PAGE DESKSTOP*/
.Edesktop-intro-name h3 {
  padding: 20px;
  background-color: white;
  z-index: -1;
  margin-left: 20px;
  text-decoration-line: underline;
}