* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/****HEADER/PARALAX***/

.intro-name h1 {
  font-size: 60px;

}

.intro-line-2 h3 {
  font-size: 35px;

}

.chair {
  height: 700px;
  position: absolute;
  top: 90%;
  right: 10%;
  transform: translate(-10%, -90%);
}

.big-rose {
  position: absolute;
  height: 200px;
  top: 10%;
  right: 40%;
}

.small-rose {
  height: 100px;
  position: absolute;
  top: 30%;
  right: 10%;
}

header {
  background-color: rgb(29, 29, 36);
}

#social-section {
  background-image: url("http://taylorkmho.com/assets/images/bg-vignette.jpg");
}

/***********SECTION ONE***/
#section-one {
  background-color: white;

  min-height: 50vh;
  margin-top: 0px;
  display: flex;
  font-family: 'Roboto Condensed', sans-serif;
}

#section-one h2 {

  font-size: 20px;
  margin-left: 100px;
  width: 70%;
  line-height: 56px;
  color: rgb(29, 29, 36);
  margin-top: 30px;
}

h3 {
  justify-content: center;
  justify-items: center;
  align-items: center;
  display: flex;
}



#projects h3 {
  color: rgb(29, 29, 36);
  padding: 10px;
  margin-top: 10px;
  font-size: 30px;
}

/**font-size: 25px;
  margin-left: 10px;
  width: 50%;
  line-height: 40px;
}**/
/*******************SOCIAL SECTION**************/
#social-section {
  min-height: 50vh;
  color: rgb(39, 63, 87);
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 50px;
  font-family: 'Roboto Condensed', sans-serif;

}

#social-section h2 {
  width: 50%;
  font-size: 30px;
  line-height: 50px;
}

#social-section h3 {
  font-size: 60px;
}

/**************SOCIAL SECTION EXPIENCE*******/
#social-section-about {
  min-height: 100vh;
  color: black;
  font-size: 50px;
  font-family: 'Roboto Condensed', sans-serif;

}

#section-one-about {
  min-height: 60vh;
  color: rgb(77, 145, 161);
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: rgb(29, 29, 36);
  padding: 40px;
  font-family: 'Roboto Condensed', sans-serif;
}





#section-two-experience {
  min-height: 80vh;
  display: block;
  background-color: white;
  width: 50%;
  font-family: 'Roboto Condensed', sans-serif;
  line-height: 45px;
  width: 50%;
}

#section-two-experience p {
  margin-left: 15px;
}



.location {
  color: rgb(94, 92, 92);
  font-size: 15px;
}

#section-one-about img {
  padding: 5px;
}

/************SKILLS EXPERIENCE SECTION**********/
#skills {
  min-height: 60vh;
  color: rgb(77, 145, 161);
  font-size: 20px;
  font-family: 'Roboto Condensed', sans-serif;
  padding: 20px;
  margin-bottom: 70px;
  margin-top: 70px;


}



.design,
.tools {
  box-sizing: border-box;
  padding: 20px;
  text-decoration: none;
}

#skills h2 {
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 5px;
  margin-bottom: 5px;
}

.about-li {
  float: right;
  width: 50%;
  box-sizing: border-box;

  padding: 5px;
  list-style-type: none;
}

.skills-category {
  float: left;
}

.about-li {
  display: inline;
}

#links-section-about {
  min-height: 100vh;
  color: rgb(226, 226, 226);
  justify-content: center;
  font-size: 40px;
  font-family: 'Roboto Condensed', sans-serif;
  background-image: url("http://taylorkmho.com/assets/images/bg-vignette.jpg");
  display: flex;
  flex-direction: column;
}

#links-section h2 {
  justify-content: center;
  align-items: center;
  display: flex;
}

/*PHOTOS*/
.skills-img-grid-row {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: center;
}

.skills-imgs {
  padding: 20px;
}

/*********COMMUNITY SERVICE SECTION*******/
#community-service {
  display: block;
  padding: 20px;
}


#community-service a {
  color: rgb(29, 29, 36);

}

#community-service a:hover {
  color: red;
  transition: 2.5s;
  cursor: pointer;
}


.about-me {
  letter-spacing: 2px;
  word-spacing: 6px;
  justify-content: center;
  align-content: center;

}

.v-location {
  color: gray;
  margin-left: 20px;

}

.content2 p {
  margin-left: 20px;
  margin-top: 5px;
}




.skills-imgs {
  filter: blue;
}






/******LINK SECTION*********/


/*************FOOTER****/
footer {
  background-color: #feeee7;
}

footer p {
  color: black;
  font-family: sans-serif;
  padding: 20px;
  font-size: 12px;
}

/**********BUTTONS**********/
.contact-button,
.btn {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 30px;
  cursor: pointer;
  background-color: Transparent;
  border: none;
  overflow: hidden;

}

.contact-button {
  color: rgb(39, 63, 87);
  text-decoration: none;


}

.contact-button:hover {
  color: white;
  transition: 0.8s;
}

.btn {
  justify-content: center;
  align-content: center;
  padding: 30px;
  transition: all 0.5s;
  color: lightskyblue;
}

.btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn:hover span {
  padding-right: 25px;
}

.btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btn:hover span:after {
  opacity: 1;
  right: 0;
}

/*NAV STUFF*************************************/
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #feeee7;
  min-height: 8vh;
  font-family: 'Roboto Condensed', sans-serif;
}

deskt .intro-text {
  display: none;
}

.intro-text h1,
.intro-text h3 {
  color: rgb(29, 29, 36);
}

/**BURGER BUTTON**/
.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: rgb(0, 0, 0);
  margin: 5px;
  transition: all 0.3s ease;
}

.navlogo {
  display: none;
}

.intro-text {
  display: none;
}

/******MEDIA Q*******/
/*MOBILE*/
@media screen and (max-width: 1024px) {
  .nav-links {
    width: 60%;
  }

}

@media screen and (max-width: 760px) {
  body {
    overflow-x: hidden;
  }

  .desktop-intro-name {
    display: none;
  }

  .desktop-logo,
  .desktoplogo {
    display: none;
  }



  .content {
    display: flex;
    padding: 20px;
    border: 1px, black;
    justify-content: center;
    justify-items: center;
    font-family: 'Roboto Condensed';
    margin-bottom: 40px;
  }

  content a {
    font-size: 70px;
    width: 20%;
    height: auto;
  }

  .content p {
    width: 80%;
    height: auto;
    line-height: 50px;
  }

  #skillspsd {
    width: 100%;
    height: auto;
  }


  #aboutme-banner {
    width: 100%;
    height: auto;
    display: block;
    padding: 10px;
    align-items: center;
    margin: auto;
  }

  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: rgb(29, 29, 36);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    /**MOVE CONTAINER OFF THE SCREEN**/
    transition: transform 0.5s ease-in;
  }

  .burger {
    display: block;
  }

  .navlogo {
    display: block;
    width: 50%;
    height: auto;
    padding: 10px;
    margin-top: 8px;
    margin-bottom: 3px;
  }

  body {
    background-color: rgb(226, 226, 226);
  }

  .intro-text {
    z-index: -1;
    display: block;
    margin-right: 5px;
    position: absolute;
    padding: 20px;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Condensed', sans-serif;

  }

  .intro-text h1 {
    font-size: 40px;
  }

  .intro-text h3 {
    font-size: 30px;
  }





}

#myBtn {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Fixed/sticky position */
  bottom: 20px;
  /* Place the button at the bottom of the page */
  right: 50px;
  /* Place the button 30px from the right */
  z-index: 99;
  /* Make sure it does not overlap */
  border: none;
  /* Remove borders */
  outline: 3px;
  /* Remove outline */
  background-color: rgba(0, 0, 0, 0.74);
  /* Set a background color */
  color: rgb(255, 250, 250);
  /* Text color */
  cursor: pointer;
  /* Add a mouse pointer on hover */
  padding: 15px;
  /* Some padding */
  border-radius: 19px;
  /* Rounded corners */
  font-size: 50px;
  /* Increase font size */
  font-family: 'Ubuntu', sans-serif;
}

/***NAV ANIMATION**/
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px)
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

/**BURGER ANIMATION*/
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.nav-active {
  transform: translateX(0%);
}


/**NAV STYLES**/
.nav-links {
  display: flex;


  justify-content: space-around;
  width: 30%;
  text-decoration: none;

}

.nav-links li {
  list-style: none;

}

.nav-links a {
  color: black;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 15px;

}

/**BORDER**/
#top,
#bottom,
#left,
#right {
  position: fixed;
  z-index: 100;
  background: #feeee7;
}

#left,
#right {
  top: 0;
  bottom: 0;
  width: 20px;
}

#left {
  left: 0;
}

#right {
  right: 0;
}

#top,
#bottom {
  left: 0;
  right: 0;
  height: 20px;
}

#top {
  top: 0;
}

#bottom {
  bottom: 0;
}

@media
/* Fairly small screens including iphones */
only screen and (max-width: 500px),

/* iPads */
only screen and (min-device-width: 768px) and (max-device-width: 1024px) {

  #top,
  #bottom,
  #left,
  #right {
    display: none;
  }


}

/***boxes*/
.content2 {
  padding: 20px;
  border: 1px, black;
  justify-content: center;
  justify-items: center;
  font-family: 'Roboto Condensed';
  margin-bottom: 40px;
  width: 80%;
  height: auto;

}

.vtxt {
  line-height: 40px;
}

.content {
  display: flex;
  padding: 20px;
  border: 1px, black;
  justify-content: center;
  justify-items: center;
  font-family: 'Roboto Condensed';
  margin-bottom: 40px;
}

content a {
  font-size: 70px;
  width: 30%;
  height: auto;
  padding: 20px;
}

.content p {
  width: 40%;
  height: auto;
  margin-left: 90px;
  line-height: 40px;
}



.event-info {
  font-size: 30px;
  justify-content: space-around;
  margin-left: 20px;

}




/**Projects**/
#projects {
  background-color: white;

}





.Statistics {
  font-size: 50px;
  font-family: "Montserrat";
  color: rgb(31, 31, 35);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: justifyAll;
  text-align: center;
  margin-bottom: -3px;
  z-index: 3;
  background-image: url(images/Rectangle\ 1.gif);
  background-repeat: repeat-x;
  background-position: 100% 100%;
  padding-bottom: 10px;
  width: 50%;
  height: auto;
  margin: auto;

}




.Statistics h1 {
  border-width: 30%;
  border-color: rgb(254, 249, 243);
  border-style: solid;
  background-color: rgb(254, 238, 231);
  z-index: 2;
}




#projects a {
  text-decoration: underline;
  color: rgb(39, 63, 87);
  font-size: 40px;

}

.project-year {
  color: grey;
}

#projects a:hover {
  color: red;
  transition: 2.5s;
}

.desktop-intro-2 {
  margin: 30px;
  margin-left: 20px;
}

/**DESKTOP HEADER***/
.desktop-intro h1,
.desktop-intro h3 {
  display: block;
  font-family: 'Roboto Condensed';
}



.underline {
  border-bottom: 9px double currentColor;
  display: inline-block;
  line-height: 0.85;
  text-shadow:
    2px 2px white,
    2px -2px white,
    -2px 2px white,
    -2px -2px white;
}

#anna-art {
  padding: 10px;
  justify-content: center;
  margin-right: auto;
}


.desktop-logo {
  display: flex;
  width: 60%;
}

.desktoplogo {
  margin-top: 5px;
  font-family: kremlin-pro-expanded, sans-serif;
  font-weight: 500;
  font-style: normal;
  color: black;
}

.desktop-intro h3 {
  font-size: 40px;
  text-align: center;
  margin-bottom: 30px;
}

.slideInLeft {
  animation-duration: 4s;
  z-index: -1;
}

.desktop-intro h1 {
  text-align: left;
  margin-left: 95px;
  font-size: 60px;
  padding: 10px;

}

.mobile-intro-2 {
  display: none;
}

.desktop-intro {
  display: flex;
  z-index: -1;
}

.desktop-intro-2 {
  display: block;
}

body {
  background-color: white;
}

.desktop-intro-name {
  padding: 40px;
  background-color: rgb(253, 253, 252);
  z-index: -1;
}

/*EXPERIENCE PAGE DESKSTOP*/
.Edesktop-intro-name h3 {
  padding: 20px;
  background-color: white;
  z-index: -1;
  margin-left: 20px;
  text-decoration-line: underline;
}

#skillspsd {
  width: 30%;
  height: auto;
  display: block;
  padding: 10px;
  margin: auto;

}

#skillspsd-info {
  width: 80%;
  height: auto;
  display: block;
  padding: 10px;
  margin: auto;
}

#project-banner {
  width: 30%;
  height: auto;
  display: block;
  padding: 10px;
  margin: auto;
}

#vwork-banner {
  width: 30%;
  height: auto;
  display: block;
  padding: 10px;
  margin: auto;
}

#aboutme-banner {
  width: 50%;
  height: auto;
  display: block;
  padding: 10px;
  align-items: center;
  margin: auto;
}

.experience-1 {
  border-image: ;
  padding: 10px;
  margin-left: 20px;
  margin-top: 5px
}